* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

.navbar {
    background-color: black;
    height: 75px;
    width: 100%;
    display: flex;
    position: sticky;
}

.navbar_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#navbar_directory {
    display:flex;
    margin: 0 5%;
    width: 100%;
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: right;
}

#blip {
    border: 0px;
    display: flex;
    border-style: none;
    border-radius: 1000px;
    background-color: transparent;
    margin-left: 50px;
    width: 30px;
    height: 30px;

    animation-name: blip;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in;
}

.navbar_directory_item {
    display: flex;
    color: rgb(255, 215, 166);
    font-size: 25px;
    margin: 10px;
    background: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s ease;
}

.navbar_directory_item:hover {
    color: magenta;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.content {
    overflow: auto;
}

.main_header {
    color: magenta;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;

    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.normal_text {
    color: magenta;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;

    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slideIn {
    from{
        color: transparent;
    }
    to{
        font-color: magenta;
    }
}

@keyframes blip {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: magenta;
    }
    100% {
        background-color: transparent;
    }
}