* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    color: rgb(255, 215, 166);

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.slides {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.inner_slide {
    width: 50%;
    height: 100vh;
    display: flex;
    vertical-align: middle;
    text-align: center;

    align-content: center;
    justify-content: center;
}

.inner_slide_container {
    width: 50%;
    height: 10%;

    align-items: center;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}

.header_text {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;

    padding: 20px 20px;

    animation: slideIn;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

#directory {
    list-style: none;
}

#Intro {
    background: linear-gradient(190deg, #41c3ff, #9553ff)
}

#About {
    background: linear-gradient(190deg, #ffc041, #8cff40)
}

#Projects {
    background: linear-gradient(190deg, #ff145b, #4096ff)
}

#Contact {
    background: linear-gradient(190deg, #85ff69, #ebff7b)
}

@keyframes slideIn {
    0% {
        color: transparent;
    }
    25% {
        color: transparent;
    }
    100% {
        color: rgb(255, 215, 166);
    }
}

@keyframes slideInDelay {
    0% {
        color: transparent;
    }
    25% {
        color: transparent;
    }
    50% {
        color: transparent;
    }
    100% {
        color: rgb(255, 215, 166);
    }
}