body, html {
    margin:0;
    padding:0;
}

.Navbar {
    width: 100%;
    min-height: 4vh;
    background-color: slategrey;
}

.MainPage {
    height: 94vh;
    padding-top: 2vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.InfoBlock {
    height: 4vh;
    width: 16vw;

    margin: 0 0 30px 0;

    background-color: slategrey;
}